# coding: utf-8

"""
    ChannelEngine Merchant API

    ChannelEngine API for merchants  # noqa: E501

    OpenAPI spec version: 2.17.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from channelengine_client.api_client import ApiClient


class FulfillmentStockApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def fulfillment_stock_get_fulfillement_stock_with_stock_locations(self, **kwargs):  # noqa: E501
        """Gets product stock across all warehouses with stock locations  # noqa: E501

        Gets the stocks. The warehouses must be set up as stock locations on ChannelEngine.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.fulfillment_stock_get_fulfillement_stock_with_stock_locations(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[str] merchant_product_nos: List of your products' MerchantProductNo's.
        :param int page_index: A page index to get the items (starts from 0)
        :param int page_size: Number of items to return (default 100)
        :return: CollectionOfMerchantFulfillmentStockStockLocationsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.fulfillment_stock_get_fulfillement_stock_with_stock_locations_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.fulfillment_stock_get_fulfillement_stock_with_stock_locations_with_http_info(**kwargs)  # noqa: E501
            return data

    def fulfillment_stock_get_fulfillement_stock_with_stock_locations_with_http_info(self, **kwargs):  # noqa: E501
        """Gets product stock across all warehouses with stock locations  # noqa: E501

        Gets the stocks. The warehouses must be set up as stock locations on ChannelEngine.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.fulfillment_stock_get_fulfillement_stock_with_stock_locations_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[str] merchant_product_nos: List of your products' MerchantProductNo's.
        :param int page_index: A page index to get the items (starts from 0)
        :param int page_size: Number of items to return (default 100)
        :return: CollectionOfMerchantFulfillmentStockStockLocationsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['merchant_product_nos', 'page_index', 'page_size']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method fulfillment_stock_get_fulfillement_stock_with_stock_locations" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'merchant_product_nos' in params:
            query_params.append(('merchantProductNos', params['merchant_product_nos']))  # noqa: E501
            collection_formats['merchantProductNos'] = 'multi'  # noqa: E501
        if 'page_index' in params:
            query_params.append(('pageIndex', params['page_index']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('pageSize', params['page_size']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/v2/fulfillmentstock', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CollectionOfMerchantFulfillmentStockStockLocationsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
