# coding: utf-8

"""
    ChannelEngine Merchant API

    ChannelEngine API for merchants  # noqa: E501

    OpenAPI spec version: 2.17.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from channelengine_client.api_client import ApiClient


class ReturnsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def return_acknowledge(self, **kwargs):  # noqa: E501
        """[CLOSED BETA] Acknowledge a return  # noqa: E501

        Acknowledges a return<br /> <br />Beware, this endpoint is part of a closed beta and is only available for closed beta participants.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.return_acknowledge(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SingleMerchantAcknowledgeReturnRequest body: The return to acknowledge
        :return: ApiResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.return_acknowledge_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.return_acknowledge_with_http_info(**kwargs)  # noqa: E501
            return data

    def return_acknowledge_with_http_info(self, **kwargs):  # noqa: E501
        """[CLOSED BETA] Acknowledge a return  # noqa: E501

        Acknowledges a return<br /> <br />Beware, this endpoint is part of a closed beta and is only available for closed beta participants.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.return_acknowledge_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SingleMerchantAcknowledgeReturnRequest body: The return to acknowledge
        :return: ApiResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method return_acknowledge" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json-patch+json', 'application/json', 'application/*+json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/v2.1/returns/merchant/acknowledge', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ApiResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def return_acknowledge_0(self, **kwargs):  # noqa: E501
        """Acknowledges a return  # noqa: E501

        Acknowledges a return based on the **Return ID** provided.<br /><br />**NB:** by acknowledging a return, you signal that it was registered in your system.<br />You can later filter your returns on the **Is acknowledged** parameter.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.return_acknowledge_0(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param MerchantReturnAcknowledgeRequest body:
        :return: ApiResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.return_acknowledge_0_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.return_acknowledge_0_with_http_info(**kwargs)  # noqa: E501
            return data

    def return_acknowledge_0_with_http_info(self, **kwargs):  # noqa: E501
        """Acknowledges a return  # noqa: E501

        Acknowledges a return based on the **Return ID** provided.<br /><br />**NB:** by acknowledging a return, you signal that it was registered in your system.<br />You can later filter your returns on the **Is acknowledged** parameter.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.return_acknowledge_0_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param MerchantReturnAcknowledgeRequest body:
        :return: ApiResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method return_acknowledge_0" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json-patch+json', 'application/json', 'application/*+json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/v2/returns/merchant/acknowledge', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ApiResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def return_create(self, **kwargs):  # noqa: E501
        """[CLOSED BETA] Create a return  # noqa: E501

        Creates a new return<br /> <br />Beware, this endpoint is part of a closed beta and is only available for closed beta participants.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.return_create(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SingleMerchantCreateReturnRequest body: The return
        :return: ApiResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.return_create_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.return_create_with_http_info(**kwargs)  # noqa: E501
            return data

    def return_create_with_http_info(self, **kwargs):  # noqa: E501
        """[CLOSED BETA] Create a return  # noqa: E501

        Creates a new return<br /> <br />Beware, this endpoint is part of a closed beta and is only available for closed beta participants.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.return_create_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SingleMerchantCreateReturnRequest body: The return
        :return: ApiResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method return_create" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json-patch+json', 'application/json', 'application/*+json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/v2.1/returns/merchant', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ApiResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def return_declare_for_merchant(self, **kwargs):  # noqa: E501
        """Creates merchant return  # noqa: E501

        Marks an order as either fully or partially returned.<br /><br />**NB:** this endpoint is used for merchant returns (i.e.: returns dealt with by the merchant).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.return_declare_for_merchant(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param MerchantReturnRequest body:
        :return: ApiResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.return_declare_for_merchant_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.return_declare_for_merchant_with_http_info(**kwargs)  # noqa: E501
            return data

    def return_declare_for_merchant_with_http_info(self, **kwargs):  # noqa: E501
        """Creates merchant return  # noqa: E501

        Marks an order as either fully or partially returned.<br /><br />**NB:** this endpoint is used for merchant returns (i.e.: returns dealt with by the merchant).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.return_declare_for_merchant_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param MerchantReturnRequest body:
        :return: ApiResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method return_declare_for_merchant" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json-patch+json', 'application/json', 'application/*+json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/v2/returns/merchant', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ApiResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def return_get(self, identifier, **kwargs):  # noqa: E501
        """[CLOSED BETA] Get return by identifier  # noqa: E501

        Gets a single return by the given identifier<br /> <br />Beware, this endpoint is part of a closed beta and is only available for closed beta participants.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.return_get(identifier, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str identifier: The identifier to search for (required)
        :param ReturnIdentifier type: Specify whether to search by ID, Merchant Return No or Channel Return No
        :return: SingleOfIReturn
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.return_get_with_http_info(identifier, **kwargs)  # noqa: E501
        else:
            (data) = self.return_get_with_http_info(identifier, **kwargs)  # noqa: E501
            return data

    def return_get_with_http_info(self, identifier, **kwargs):  # noqa: E501
        """[CLOSED BETA] Get return by identifier  # noqa: E501

        Gets a single return by the given identifier<br /> <br />Beware, this endpoint is part of a closed beta and is only available for closed beta participants.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.return_get_with_http_info(identifier, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str identifier: The identifier to search for (required)
        :param ReturnIdentifier type: Specify whether to search by ID, Merchant Return No or Channel Return No
        :return: SingleOfIReturn
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['identifier', 'type']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method return_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'identifier' is set
        if ('identifier' not in params or
                params['identifier'] is None):
            raise ValueError("Missing the required parameter `identifier` when calling `return_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'identifier' in params:
            path_params['identifier'] = params['identifier']  # noqa: E501

        query_params = []
        if 'type' in params:
            query_params.append(('type', params['type']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/v2.1/returns/merchant/{identifier}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SingleOfIReturn',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def return_get_by_filter(self, **kwargs):  # noqa: E501
        """[CLOSED BETA] Get returns by filter  # noqa: E501

        Gets multiple returns by the given filter<br /> <br />Beware, this endpoint is part of a closed beta and is only available for closed beta participants.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.return_get_by_filter(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ReturnByFilterIdentifier identifiers_identifier_type: The type of identifier: which identifier to filter on
        :param list[str] identifiers_models: The value (of the selected type) to filter on
        :param list[ChannelExportStatus] channel_export_status_statuses:
        :param int channel_export_status_max_number_of_export_attempts:
        :param list[ModuleReturnReason] reasons:
        :param datetime created_date_range_from_date:
        :param datetime created_date_range_to_date:
        :param list[ModuleReturnStatus] statuses:
        :param list[int] channel_ids:
        :param str search:
        :param bool is_acknowledged_by_merchant:
        :param bool is_acknowledged_by_channel:
        :param ModuleFulfillmentType fulfillment_type:
        :param CreatorType creator_type:
        :param list[str] external_batch_nos:
        :param int page_index:
        :param int page_size:
        :return: SingleOfIReturn
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.return_get_by_filter_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.return_get_by_filter_with_http_info(**kwargs)  # noqa: E501
            return data

    def return_get_by_filter_with_http_info(self, **kwargs):  # noqa: E501
        """[CLOSED BETA] Get returns by filter  # noqa: E501

        Gets multiple returns by the given filter<br /> <br />Beware, this endpoint is part of a closed beta and is only available for closed beta participants.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.return_get_by_filter_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ReturnByFilterIdentifier identifiers_identifier_type: The type of identifier: which identifier to filter on
        :param list[str] identifiers_models: The value (of the selected type) to filter on
        :param list[ChannelExportStatus] channel_export_status_statuses:
        :param int channel_export_status_max_number_of_export_attempts:
        :param list[ModuleReturnReason] reasons:
        :param datetime created_date_range_from_date:
        :param datetime created_date_range_to_date:
        :param list[ModuleReturnStatus] statuses:
        :param list[int] channel_ids:
        :param str search:
        :param bool is_acknowledged_by_merchant:
        :param bool is_acknowledged_by_channel:
        :param ModuleFulfillmentType fulfillment_type:
        :param CreatorType creator_type:
        :param list[str] external_batch_nos:
        :param int page_index:
        :param int page_size:
        :return: SingleOfIReturn
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['identifiers_identifier_type', 'identifiers_models', 'channel_export_status_statuses', 'channel_export_status_max_number_of_export_attempts', 'reasons', 'created_date_range_from_date', 'created_date_range_to_date', 'statuses', 'channel_ids', 'search', 'is_acknowledged_by_merchant', 'is_acknowledged_by_channel', 'fulfillment_type', 'creator_type', 'external_batch_nos', 'page_index', 'page_size']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method return_get_by_filter" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'identifiers_identifier_type' in params:
            query_params.append(('identifiers.identifierType', params['identifiers_identifier_type']))  # noqa: E501
        if 'identifiers_models' in params:
            query_params.append(('identifiers.models', params['identifiers_models']))  # noqa: E501
            collection_formats['identifiers.models'] = 'multi'  # noqa: E501
        if 'channel_export_status_statuses' in params:
            query_params.append(('channelExportStatus.statuses', params['channel_export_status_statuses']))  # noqa: E501
            collection_formats['channelExportStatus.statuses'] = 'multi'  # noqa: E501
        if 'channel_export_status_max_number_of_export_attempts' in params:
            query_params.append(('channelExportStatus.maxNumberOfExportAttempts', params['channel_export_status_max_number_of_export_attempts']))  # noqa: E501
        if 'reasons' in params:
            query_params.append(('reasons', params['reasons']))  # noqa: E501
            collection_formats['reasons'] = 'multi'  # noqa: E501
        if 'created_date_range_from_date' in params:
            query_params.append(('createdDateRange.fromDate', params['created_date_range_from_date']))  # noqa: E501
        if 'created_date_range_to_date' in params:
            query_params.append(('createdDateRange.toDate', params['created_date_range_to_date']))  # noqa: E501
        if 'statuses' in params:
            query_params.append(('statuses', params['statuses']))  # noqa: E501
            collection_formats['statuses'] = 'multi'  # noqa: E501
        if 'channel_ids' in params:
            query_params.append(('channelIds', params['channel_ids']))  # noqa: E501
            collection_formats['channelIds'] = 'multi'  # noqa: E501
        if 'search' in params:
            query_params.append(('search', params['search']))  # noqa: E501
        if 'is_acknowledged_by_merchant' in params:
            query_params.append(('isAcknowledgedByMerchant', params['is_acknowledged_by_merchant']))  # noqa: E501
        if 'is_acknowledged_by_channel' in params:
            query_params.append(('isAcknowledgedByChannel', params['is_acknowledged_by_channel']))  # noqa: E501
        if 'fulfillment_type' in params:
            query_params.append(('fulfillmentType', params['fulfillment_type']))  # noqa: E501
        if 'creator_type' in params:
            query_params.append(('creatorType', params['creator_type']))  # noqa: E501
        if 'external_batch_nos' in params:
            query_params.append(('externalBatchNos', params['external_batch_nos']))  # noqa: E501
            collection_formats['externalBatchNos'] = 'multi'  # noqa: E501
        if 'page_index' in params:
            query_params.append(('pageIndex', params['page_index']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('pageSize', params['page_size']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/v2.1/returns/merchant', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SingleOfIReturn',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def return_get_by_merchant_order_no(self, merchant_order_no, **kwargs):  # noqa: E501
        """Gets a return  # noqa: E501

        Gets the returns based on the **Merchant order number** provided.<br /><br />**NB:** this endpoint is meant for merchants. Marketplaces should use the **GET /v2/returns/channel** call instead.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.return_get_by_merchant_order_no(merchant_order_no, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str merchant_order_no: (required)
        :return: CollectionOfMerchantSingleOrderReturnResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.return_get_by_merchant_order_no_with_http_info(merchant_order_no, **kwargs)  # noqa: E501
        else:
            (data) = self.return_get_by_merchant_order_no_with_http_info(merchant_order_no, **kwargs)  # noqa: E501
            return data

    def return_get_by_merchant_order_no_with_http_info(self, merchant_order_no, **kwargs):  # noqa: E501
        """Gets a return  # noqa: E501

        Gets the returns based on the **Merchant order number** provided.<br /><br />**NB:** this endpoint is meant for merchants. Marketplaces should use the **GET /v2/returns/channel** call instead.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.return_get_by_merchant_order_no_with_http_info(merchant_order_no, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str merchant_order_no: (required)
        :return: CollectionOfMerchantSingleOrderReturnResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['merchant_order_no']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method return_get_by_merchant_order_no" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'merchant_order_no' is set
        if ('merchant_order_no' not in params or
                params['merchant_order_no'] is None):
            raise ValueError("Missing the required parameter `merchant_order_no` when calling `return_get_by_merchant_order_no`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'merchant_order_no' in params:
            path_params['merchantOrderNo'] = params['merchant_order_no']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/v2/returns/merchant/{merchantOrderNo}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CollectionOfMerchantSingleOrderReturnResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def return_get_declared_by_channel(self, **kwargs):  # noqa: E501
        """Gets marketplace returns  # noqa: E501

        Gets all returns created by the marketplace.<br /><br />**NB:** this endpoint is used for both marketplace and marketplace-fulfilled returns.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.return_get_declared_by_channel(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[int] channel_ids: Filter on Channel IDs
        :param list[str] merchant_order_nos: Filter on unique order reference used by the merchant.
        :param list[str] channel_order_nos: Filter on unique order reference used by the channel.
        :param FulfillmentType fulfillment_type: Filter on the fulfillment type of the order.
        :param list[ReturnStatus] statuses: Return status(es) to filter on.
        :param list[ReturnReason] reasons: Return reason(s) to filter on.
        :param datetime from_date: Filter on the creation date, starting from this date. This date is inclusive.
        :param datetime to_date: Filter on the creation date, until this date. This date is exclusive.
        :param bool is_acknowledged: Filters based on acknowledgements
        :param int page: The page to filter on. Starts at 1.
        :return: CollectionOfMerchantReturnResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.return_get_declared_by_channel_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.return_get_declared_by_channel_with_http_info(**kwargs)  # noqa: E501
            return data

    def return_get_declared_by_channel_with_http_info(self, **kwargs):  # noqa: E501
        """Gets marketplace returns  # noqa: E501

        Gets all returns created by the marketplace.<br /><br />**NB:** this endpoint is used for both marketplace and marketplace-fulfilled returns.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.return_get_declared_by_channel_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[int] channel_ids: Filter on Channel IDs
        :param list[str] merchant_order_nos: Filter on unique order reference used by the merchant.
        :param list[str] channel_order_nos: Filter on unique order reference used by the channel.
        :param FulfillmentType fulfillment_type: Filter on the fulfillment type of the order.
        :param list[ReturnStatus] statuses: Return status(es) to filter on.
        :param list[ReturnReason] reasons: Return reason(s) to filter on.
        :param datetime from_date: Filter on the creation date, starting from this date. This date is inclusive.
        :param datetime to_date: Filter on the creation date, until this date. This date is exclusive.
        :param bool is_acknowledged: Filters based on acknowledgements
        :param int page: The page to filter on. Starts at 1.
        :return: CollectionOfMerchantReturnResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['channel_ids', 'merchant_order_nos', 'channel_order_nos', 'fulfillment_type', 'statuses', 'reasons', 'from_date', 'to_date', 'is_acknowledged', 'page']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method return_get_declared_by_channel" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'channel_ids' in params:
            query_params.append(('channelIds', params['channel_ids']))  # noqa: E501
            collection_formats['channelIds'] = 'multi'  # noqa: E501
        if 'merchant_order_nos' in params:
            query_params.append(('merchantOrderNos', params['merchant_order_nos']))  # noqa: E501
            collection_formats['merchantOrderNos'] = 'multi'  # noqa: E501
        if 'channel_order_nos' in params:
            query_params.append(('channelOrderNos', params['channel_order_nos']))  # noqa: E501
            collection_formats['channelOrderNos'] = 'multi'  # noqa: E501
        if 'fulfillment_type' in params:
            query_params.append(('fulfillmentType', params['fulfillment_type']))  # noqa: E501
        if 'statuses' in params:
            query_params.append(('statuses', params['statuses']))  # noqa: E501
            collection_formats['statuses'] = 'multi'  # noqa: E501
        if 'reasons' in params:
            query_params.append(('reasons', params['reasons']))  # noqa: E501
            collection_formats['reasons'] = 'multi'  # noqa: E501
        if 'from_date' in params:
            query_params.append(('fromDate', params['from_date']))  # noqa: E501
        if 'to_date' in params:
            query_params.append(('toDate', params['to_date']))  # noqa: E501
        if 'is_acknowledged' in params:
            query_params.append(('isAcknowledged', params['is_acknowledged']))  # noqa: E501
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/v2/returns/merchant', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CollectionOfMerchantReturnResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def return_get_returns(self, **kwargs):  # noqa: E501
        """Gets returns by filter  # noqa: E501

        Gets the returns based on the filter provided.<br /><br />**NB:** this endpoint is used to retrieve all types of returns: merchant, marketplace, mixed, and marketplace-fulfilled.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.return_get_returns(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreatorFilter creator_type: Filter on the return's creator. Default is MIXED.
        :param list[int] channel_ids: Filter on Channel IDs
        :param list[str] merchant_order_nos: Filter on unique order reference used by the merchant.
        :param list[str] channel_order_nos: Filter on unique order reference used by the channel.
        :param FulfillmentType fulfillment_type: Filter on the fulfillment type of the order.
        :param list[ReturnStatus] statuses: Return status(es) to filter on.
        :param list[ReturnReason] reasons: Return reason(s) to filter on.
        :param datetime from_date: Filter on the creation date, starting from this date. This date is inclusive.
        :param datetime to_date: Filter on the creation date, until this date. This date is exclusive.
        :param bool is_acknowledged: Filters based on acknowledgements
        :param int page: The page to filter on. Starts at 1.
        :return: CollectionOfMerchantReturnResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.return_get_returns_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.return_get_returns_with_http_info(**kwargs)  # noqa: E501
            return data

    def return_get_returns_with_http_info(self, **kwargs):  # noqa: E501
        """Gets returns by filter  # noqa: E501

        Gets the returns based on the filter provided.<br /><br />**NB:** this endpoint is used to retrieve all types of returns: merchant, marketplace, mixed, and marketplace-fulfilled.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.return_get_returns_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreatorFilter creator_type: Filter on the return's creator. Default is MIXED.
        :param list[int] channel_ids: Filter on Channel IDs
        :param list[str] merchant_order_nos: Filter on unique order reference used by the merchant.
        :param list[str] channel_order_nos: Filter on unique order reference used by the channel.
        :param FulfillmentType fulfillment_type: Filter on the fulfillment type of the order.
        :param list[ReturnStatus] statuses: Return status(es) to filter on.
        :param list[ReturnReason] reasons: Return reason(s) to filter on.
        :param datetime from_date: Filter on the creation date, starting from this date. This date is inclusive.
        :param datetime to_date: Filter on the creation date, until this date. This date is exclusive.
        :param bool is_acknowledged: Filters based on acknowledgements
        :param int page: The page to filter on. Starts at 1.
        :return: CollectionOfMerchantReturnResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['creator_type', 'channel_ids', 'merchant_order_nos', 'channel_order_nos', 'fulfillment_type', 'statuses', 'reasons', 'from_date', 'to_date', 'is_acknowledged', 'page']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method return_get_returns" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'creator_type' in params:
            query_params.append(('creatorType', params['creator_type']))  # noqa: E501
        if 'channel_ids' in params:
            query_params.append(('channelIds', params['channel_ids']))  # noqa: E501
            collection_formats['channelIds'] = 'multi'  # noqa: E501
        if 'merchant_order_nos' in params:
            query_params.append(('merchantOrderNos', params['merchant_order_nos']))  # noqa: E501
            collection_formats['merchantOrderNos'] = 'multi'  # noqa: E501
        if 'channel_order_nos' in params:
            query_params.append(('channelOrderNos', params['channel_order_nos']))  # noqa: E501
            collection_formats['channelOrderNos'] = 'multi'  # noqa: E501
        if 'fulfillment_type' in params:
            query_params.append(('fulfillmentType', params['fulfillment_type']))  # noqa: E501
        if 'statuses' in params:
            query_params.append(('statuses', params['statuses']))  # noqa: E501
            collection_formats['statuses'] = 'multi'  # noqa: E501
        if 'reasons' in params:
            query_params.append(('reasons', params['reasons']))  # noqa: E501
            collection_formats['reasons'] = 'multi'  # noqa: E501
        if 'from_date' in params:
            query_params.append(('fromDate', params['from_date']))  # noqa: E501
        if 'to_date' in params:
            query_params.append(('toDate', params['to_date']))  # noqa: E501
        if 'is_acknowledged' in params:
            query_params.append(('isAcknowledged', params['is_acknowledged']))  # noqa: E501
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/v2/returns', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CollectionOfMerchantReturnResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def return_get_unhandled(self, **kwargs):  # noqa: E501
        """Gets unhandled returns  # noqa: E501

        Gets all marketplace returns with the status **In progress**.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.return_get_unhandled(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[int] channel_ids: Filter on Channel IDs
        :param int page: The page to filter on. Starts at 1.
        :return: CollectionOfMerchantReturnResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.return_get_unhandled_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.return_get_unhandled_with_http_info(**kwargs)  # noqa: E501
            return data

    def return_get_unhandled_with_http_info(self, **kwargs):  # noqa: E501
        """Gets unhandled returns  # noqa: E501

        Gets all marketplace returns with the status **In progress**.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.return_get_unhandled_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[int] channel_ids: Filter on Channel IDs
        :param int page: The page to filter on. Starts at 1.
        :return: CollectionOfMerchantReturnResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['channel_ids', 'page']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method return_get_unhandled" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'channel_ids' in params:
            query_params.append(('channelIds', params['channel_ids']))  # noqa: E501
            collection_formats['channelIds'] = 'multi'  # noqa: E501
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/v2/returns/merchant/new', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CollectionOfMerchantReturnResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def return_handle(self, **kwargs):  # noqa: E501
        """[CLOSED BETA] Handle a return  # noqa: E501

        Handles a return<br /> <br />Beware, this endpoint is part of a closed beta and is only available for closed beta participants.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.return_handle(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SingleMerchantHandleReturnRequest body: The return to handle
        :return: ApiResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.return_handle_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.return_handle_with_http_info(**kwargs)  # noqa: E501
            return data

    def return_handle_with_http_info(self, **kwargs):  # noqa: E501
        """[CLOSED BETA] Handle a return  # noqa: E501

        Handles a return<br /> <br />Beware, this endpoint is part of a closed beta and is only available for closed beta participants.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.return_handle_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SingleMerchantHandleReturnRequest body: The return to handle
        :return: ApiResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method return_handle" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json-patch+json', 'application/json', 'application/*+json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/v2.1/returns/merchant/handle', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ApiResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def return_update_for_merchant(self, **kwargs):  # noqa: E501
        """Marks returns as received  # noqa: E501

        Marks a return as either fully or partially received.<br /> <br />**NB:** this endpoint is used for marketplace returns, and you can only accept or reject a return once.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.return_update_for_merchant(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param MerchantReturnUpdateRequest body:
        :return: ApiResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.return_update_for_merchant_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.return_update_for_merchant_with_http_info(**kwargs)  # noqa: E501
            return data

    def return_update_for_merchant_with_http_info(self, **kwargs):  # noqa: E501
        """Marks returns as received  # noqa: E501

        Marks a return as either fully or partially received.<br /> <br />**NB:** this endpoint is used for marketplace returns, and you can only accept or reject a return once.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.return_update_for_merchant_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param MerchantReturnUpdateRequest body:
        :return: ApiResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method return_update_for_merchant" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json-patch+json', 'application/json', 'application/*+json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/v2/returns', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ApiResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
